/*
1- common styles
2- general styles
3- sections styles
    3.0 header 
    3.1 home
    3.2 about 
    3.3 portfolio
    3.4 service 
    2.5 prises
    3.6 team
    3.7 blog
    3.8 contact 
    3.9 footer
*/


       /*common styles*/
 /*
contenr
opacity hover 
siction header
siction padding 
hover effect one(left to righet) 
hover effect two(up to down)

*/
        /* general styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.siction-header{
    text-align: center;

}
.pd-y{
    padding: 120px 0;
}

.siction-header .siction-title{
font-size: 35px;
text-transform: capitalize;
margin-bottom: 10px;
}.siction-header .line{
    display: block;
    height: 3px;
    width: 60px;
    background-color: #6195ff;
    margin: 0 auto 70px auto;
}
.container{
    width: 80%;
   
    margin: auto;
}
body{
    font-family: 'Varela Round', sans-serif;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.lte-eff{
    position: relative;
}
.lte-eff:after{
position: absolute;
content: "";
width: 0;
height: 100%;
background-color: #333;
top: 0;
left: 0;
transition: 0.5s;
z-index: -1;
}
.lte-eff:hover:after{
    width: 100%;
}
.tb{
    position: relative;
}
.tb:after{
position: absolute;
content: "";
width: 100%;
height: 0;
background-color: #333;
top: 0;
left: 0;
transition:height 0.5s;
z-index: -1;
}
.tb:hover:after{
    height:100%;
}
            /*  sictions styles  */
        /*3.0 header */
.header{
   width: 100%;
   height: 65px; ;
   position: fixed;
   z-index: 10;
   background-color: rgba(0, 0, 0, 0.7);
}
.header .logo{
    width: 35%;
    float: left;
}
.header .nav{
    width: 65%;
    float: left;
}
/*.header-container{
    overflow: hidden;
}*/
.header .logo img {
    width: 25%;
    margin-top: 15px;
}
.header .nav {
    list-style: none;
    text-align: right;
}.header .nav li{
    display: inline-block;
    text-align: right;
}
.header .nav li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 23px 15px ;
    font-size: 15px;
}
.header .nav >li> a:after,
.header .nav >li >a.active:after{
content: "";
display: block;
height: 3px;
background-color: #6195ff;
transition: width 0.4s;
margin-top: 2px;
}
.header .nav >li> a:hover:after{
    width: 100%;
}
.header .nav >li >a.active:after{
    width: 100%;
}
.header .nav li a:after{
    width: 0%;
}
.groubdown-menu{
   position: absolute;
   background-color: #6195ff;
   width: 150px;
   text-align: center;
   left: -50%; 
   top: 75%; 
   height: 50px;  
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.5s,visibility 0.5s;
}
.groubdown-menu a{
    color: #fff;
    display: block;
   padding: 10px;
}
.groubdown:hover .groubdown-menu{
    opacity: 1;
    visibility: visible;
}
.groubdown{
    position: relative;
}

    /* home saction*/
    .home{
        height: 100vh;
        background-image: url(../images/background/background1.webp);
        background-size: cover;
        position: relative;
    }
    .home-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 65%;
    }
    .home .title{
        color: #fff;
        font-size: 3.3rem;
        text-transform: uppercase;
    }.home .home-desc{
    margin: 20px 0;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 12px;
    }
    .btn{
        border-radius: 5px; 
        width: 150px; 
        padding: 20px 0;
        border: 0;
        cursor: pointer;
        font-size: 18px;
    }.btn-start{
        margin-right: 10px; 
        background-color: #fff;
    }
    .btn-learn{
        background-color: #6195ff;
        color: #fff;
    }
    button{
        font-family:inherit ;
    }
    .hover-opacity:hover{
        opacity:0.8 ;
    }
    .hover-opacity{
        transition:  0.4s;
    }
    /* about ssiction */
    .about-content{
        overflow: hidden;
    }
    .about-item.mg{
        margin: 0 5% ;
    }
    .about-item{
        width: 30%;
        float: left;
        text-align: center;
        border: 1px solid #e8e8e8;
        padding: 50px 25px;
    }
    .about-item:hover .about-item-title{
        color: #fff;
    }
    
    .about-item .icon{
        color: #6195ff;
        margin-bottom: 10px;
    }
    .about-item-title{
        text-transform: capitalize;
        margin-bottom: 10px;
        transition: 0.5s;
    }.about-item-desc{
        line-height: 1.6;
        margin-bottom: 10px;
        color: #899999;
    }
    .about-item-link{
        color: #6195ff;
        text-decoration: none;
        text-transform: capitalize;
    }
    .portofol{
        background-color: #f9f9f9;
    }
    .portofol-content{
        overflow: hidden;

    }
    .portofol-item{
        float: left;
        width: 30%;
        margin-bottom:30px;
        position: relative;
        padding: 20px;
    }
.portofol-item img{
    width: 100%;
}
.portofol-item.mg{
    margin: 0 5%;
}
.portofol-item .lay-contant{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}.portofol-item:hover .lay-contant{
opacity: 1;
visibility: visible;
}
.lay-contant .lay-info{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 80%;
}
.lay-contant .cate{
    color:#6195ff;
    text-transform: uppercase;
    margin: bottom 10px; ;
    display: block;
    position: relative;
    top: 10px;
    transition: top 0.5s,opacity 0.5s;
    transition-delay: 0.2s;
    opacity: 0;
}
.lay-contant-title{
   font-size: 20px;
   color: white;
   margin-bottom: 10px;
   position: relative;
   top: 10px;
   transition: top 0.5s,opacity 0.5s;
   transition-delay: 0.3s;
   opacity: 0;
}
.lay-contant a{
    display: inline-block;
    opacity: 0;
    width: 40px;
    height: 40px;
   
    color: #6195ff;
    position: relative;
    top: 10px;
    transition: top 0.5s ,opacity 0.5s;
    transition-delay: 0.3s;
}
.lay-contant a i{
    line-height: 100%;
}.portofol-item:hover .lay-contant-title
,.portofol-item:hover .lay-contant a 
,.portofol-item:hover .lay-contant .cate
{
top: 0;
opacity: 1;
}

.offer-content{
overflow: hidden;
}
.offer-item{
width: 30%;
float: left;
margin-bottom: 20px;
border: 1px solid #e8e8e8;
padding: 20px 20px 30px 70px;
position: relative;
}
.offer-item.mg{
    margin: 0 5%;
}.offer-item .icon{
    position: absolute;
    left: 15px;
    top: 30px;
    color: #6195ff;
}
.offer-item-title{
    text-transform: capitalize;
margin-bottom: 15px;
transition: color 0.5s;
}.offer-item-desc{
    text-transform: capitalize;
margin-bottom: 15px;
line-height: 1.6;
color:#999;
}
.offer-item:hover .offer-item-title{
color: white;
}
.serves{
    background-color: #f9f9f9;
}
.serves-item{
    width: 50%;
   float: left;
}
.serves-item .siction-header{
    text-align: left;
}
.serves-item .siction-header .line{
margin: 0 0 70px 0;
}
.serves-item-desc{
    padding-right:  20px; ;
    color: #999;
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 20px;
}
.serves-list{
    list-style: none;
}
.serves-list li i{
    border: 1px solid #6195ff;
    border-radius: 50%;
    color: #6195ff;
    padding: 7px 4px;
}
.serves-list li{
    margin-bottom: 15px;
    color: #999;
}
.serves-item-img img{
    width: 100%;

}
.serves-boll{
    list-style: none;
    text-align: center;
}
.serves-boll li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px 5px;
    border-radius: 50%;
}
.serves-boll li.activ{
background-color: #6195ff;
}
.serves-boll li:hover{
    background-color: #6195ff;
}
.nums{
    position: relative;
    background-image: url(../images/background/background2.webp);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}
.nums-item{
    overflow: hidden;
    padding: 100px;
}
.num-item .icon{
    color: #6195ff;
    margin-bottom: 15px;
}
.num-item-text{
    color: #fff;
}
.num-item-title{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin-bottom:5px;
    text-transform: capitalize;
}
.num-item{
    text-transform: capitalize;
    width: 25%;
    float: left;
    text-align: center;
}
.pricing-plan{
    overflow: hidden;
}
.pricing-item{
    width: 30%;
    float: left;
    padding: 20px 15px;
    border: 1px solid #e8e8e8 ;
    text-align: center;
}
.pricing-item.mg{
    margin: 0 5%;
}
.pricing-item-text{
    text-transform: uppercase;
    font-size: 17px;
    color: #999;
    transition: color 0.5s;
}
.months{
    width: 130px;
    height: 130px;
    border: 2px solid #6195ff;
    border-radius: 50%;
    margin: 20px auto;
    padding: 30px;
    transition: color 0.5s;
}
.months .doler{
    font-size: 40px;
    
}
.months .month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.pricing-list{
    list-style: none;

}
.pricing-list li{
color: #999;
line-height: 1.8;
}
.pricing-butt{
    background-color: transparent;
    border: 2px solid #7ea7ff;
    display: block;
    width: 120px;
    padding: 10px;
    margin:15px auto ;
    color:#7ea7ff;
    border-radius: 3%;
}
.pricing-item:hover .months{
    color: #fff;
}

.pricing-item:hover .pricing-item-text{
    color: #7ea7ff;
}
.testimonyl{
    position: relative;
    background-image: url(../images/background/background3.webp);
    background-size: cover;
    background-attachment:fixed;
    height: 400px;
}.testimonyl-content{
    overflow: hidden;
    padding: 120px 0;
width: 80%;
margin: auto;
}
.testimonyl-item{
    width: 50%;
    float: left;
    color: #fff;
    padding:5px;
}
.testimonyl-item .testimonyl-player{
padding: 10px 5px 40px 100px;
position: relative;
}.testimonyl-item .testimonyl-player img{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}
.testimonyl-item .testimonyl-player h2{
    margin-bottom: 10px ;
}
.testimonyl-item .testimonyl-player span{
    color: #6195ff;
    letter-spacing: 1px;
}
.testimonyl-desc{
    
    line-height: 1.5;
    font-size: 17px;
}
.team-content{
    overflow: hidden;

}
.team-item{
    width: 30%;
    float: left;
    background-color: #e8e8e8;
    padding: 40px 15px;
    text-align: center;
}
.team-img img{
    
    width: 100%;
    
}
.team-info .team-txt{
    color: #222;
    margin: 10px 0;
    text-transform: capitalize;
    transition: 0.5s;
}
.team-info .team-txt2{
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s;
}.team-img{
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.team-overlay i{
    color: #e8e8e8;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #7ea7ff;
    line-height: 40px;
    margin-left: auto;
}
.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}
.team-item.tb{
    z-index: 1;
}
.team-item:hover .team-txt{
    color: #fff;
}
.team-item:hover .team-txt2{
    color: #6195ff;
}
.team-item.mg{
    margin: 0 5%;
}
.blog{
background-color: #f8f8f8;
}
.blog.siction-title{
    margin-top: 20px;
}
.blog-content{
    overflow: hidden;
    background-color: #f8f8f8;
    
}
.blog-item{
    width: 30%;
    float: left;
    background-color: #fff;
    margin-bottom: 80px;
}
.blog-item-img img{
    width: 100%;
    height: 100%;
}
.blog-list{
    list-style: none;
    margin: 10px 0;
}
.blog-list li{
    display: inline-block;
    margin: 0 5px;
}
.blog-info{
    padding: 20px;
}
.blog-list li i{
    color: #6195ff;
}
.blog-title{
    font-weight: bold;
    margin: 20px 0;
}
.blog-desc{
    color: #999;
    line-height: 1.5;
    margin-bottom: 10px;
}
.blog-link{
    color: #7ea7ff;
    text-decoration: none;
}
.blog-item.mg{
    margin: 0 5%;
}
.footer{
    background-color: #1c1421;
    text-align: center;
    padding: 50px 0 ;
}
.footer-links li{
    
    display: inline-block;
}
.footer-links{
    list-style: none;
}
.footer-links li a{
    display: block;
    width: 40px;
    height: 40px;
    background-color:#6195ff;
    color: #fff;
    border-radius: 35%;
    margin: 0 5px;
}
.footer-links li a i{
    line-height: 40px;
}
.footer-desc{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight:300;
    margin: 25px 0;
}